; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Thu 08 Nov 2012 11:26:25 CET

[buildout]
;parts = env xbob.optflow.liu external ipython tests
parts = xbob.optflow.liu ipython tests
eggs = xbob.optflow.liu
       ipdb
newest = false

; Path to Bob's root - No need setting this if Bob is installed centrally
;bob = /idiap/group/torch5spro/releases/bob-1.1.1/install/linux-x86_64-release

;[env]
;recipe = collective.recipe.environment
;PKG_CONFIG_PATH = ${buildout:bob}/lib/pkgconfig

[xbob.optflow.liu]
recipe = zc.recipe.egg:develop
setup = .

;[external]
;recipe = xbob.buildout:external
;egg-directories = ${buildout:bob}/lib

[tests]
recipe = xbob.buildout:nose
eggs = ${buildout:eggs}
script = tests.py

[ipython]
recipe = zc.recipe.egg
eggs = ipython
       ${buildout:eggs}
;entry-points = ipython=IPython.frontend.terminal.ipapp:launch_new_instance
entry-points = ipython=IPython.ipapi:launch_new_instance
